################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Course Assets
HandsOnLabs/
MaryTutorsMath/
SignalR-samples/
